.main-container, .navbar, .nav, .social, .main-page, .main, .skills__icon, .project-container {
  display: grid;
  grid-gap: 0; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  font-size: 14px;
  font-family: "Lato", sans-serif; }

h1, h2, h3, h4, h5, h6, p {
  font-family: "Lato", sans-serif; }

h1 {
  font-size: 2em;
  font-weight: bolder; }

h2 {
  font-size: 1.5em;
  font-weight: bolder; }

h3 {
  font-size: 1.17em;
  font-weight: bolder; }

h4 {
  font-size: 1.12em;
  font-weight: bolder; }

h5 {
  font-size: .83em;
  font-weight: bolder; }

h6 {
  font-size: .75em;
  font-weight: bolder; }

p {
  font-size: 1em; }

a {
  display: block;
  text-decoration: none; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.img-responsive {
  display: block;
  width: 100%;
  height: auto; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    display: table;
    content: '';
    line-height: 0; }
  .clearfix:after {
    clear: both; }

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px; }

.container-fluid {
  margin: 0 auto;
  padding: 0 30px; }

[class*='col-'] {
  width: 100%;
  min-height: 1px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.6666666667%; }

.col-xs-10 {
  width: 83.3333333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.6666666667%; }

.col-xs-7 {
  width: 58.3333333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.6666666667%; }

.col-xs-4 {
  width: 33.3333333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.6666666667%; }

.col-xs-1 {
  width: 8.3333333333%; }

@media all and (min-width: 576px) {
  .col-sm-12 {
    width: 100%; }

  .col-sm-11 {
    width: 91.6666666667%; }

  .col-sm-10 {
    width: 83.3333333333%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-8 {
    width: 66.6666666667%; }

  .col-sm-7 {
    width: 58.3333333333%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-5 {
    width: 41.6666666667%; }

  .col-sm-4 {
    width: 33.3333333333%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-2 {
    width: 16.6666666667%; }

  .col-sm-1 {
    width: 8.3333333333%; }

  .col-sm-offset-12 {
    margin-left: 100%; }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%; }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%; }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%; }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%; }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%; } }
@media all and (min-width: 768px) {
  .container {
    max-width: 750px; }

  .col-md-12 {
    width: 100%; }

  .col-md-11 {
    width: 91.6666666667%; }

  .col-md-10 {
    width: 83.3333333333%; }

  .col-md-9 {
    width: 75%; }

  .col-md-8 {
    width: 66.6666666667%; }

  .col-md-7 {
    width: 58.3333333333%; }

  .col-md-6 {
    width: 50%; }

  .col-md-5 {
    width: 41.6666666667%; }

  .col-md-4 {
    width: 33.3333333333%; }

  .col-md-3 {
    width: 25%; }

  .col-md-2 {
    width: 16.6666666667%; }

  .col-md-1 {
    width: 8.3333333333%; }

  .col-md-offset-12 {
    margin-left: 100%; }

  .col-md-offset-11 {
    margin-left: 91.6666666667%; }

  .col-md-offset-10 {
    margin-left: 83.3333333333%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-8 {
    margin-left: 66.6666666667%; }

  .col-md-offset-7 {
    margin-left: 58.3333333333%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-5 {
    margin-left: 41.6666666667%; }

  .col-md-offset-4 {
    margin-left: 33.3333333333%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-2 {
    margin-left: 16.6666666667%; }

  .col-md-offset-1 {
    margin-left: 8.3333333333%; } }
@media all and (min-width: 992px) {
  .col-lg-12 {
    width: 100%; }

  .col-lg-11 {
    width: 91.6666666667%; }

  .col-lg-10 {
    width: 83.3333333333%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-8 {
    width: 66.6666666667%; }

  .col-lg-7 {
    width: 58.3333333333%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-5 {
    width: 41.6666666667%; }

  .col-lg-4 {
    width: 33.3333333333%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-2 {
    width: 16.6666666667%; }

  .col-lg-1 {
    width: 8.3333333333%; }

  .col-lg-offset-12 {
    margin-left: 100%; }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%; }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%; }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%; }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%; }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%; } }
@media all and (min-width: 1200px) {
  .container {
    max-width: 1200px; }

  .col-xl-12 {
    width: 100%; }

  .col-xl-11 {
    width: 91.6666666667%; }

  .col-xl-10 {
    width: 83.3333333333%; }

  .col-xl-9 {
    width: 75%; }

  .col-xl-8 {
    width: 66.6666666667%; }

  .col-xl-7 {
    width: 58.3333333333%; }

  .col-xl-6 {
    width: 50%; }

  .col-xl-5 {
    width: 41.6666666667%; }

  .col-xl-4 {
    width: 33.3333333333%; }

  .col-xl-3 {
    width: 25%; }

  .col-xl-2 {
    width: 16.6666666667%; }

  .col-xl-1 {
    width: 8.3333333333%; }

  .col-xl-offset-12 {
    margin-left: 100%; }

  .col-xl-offset-11 {
    margin-left: 91.6666666667%; }

  .col-xl-offset-10 {
    margin-left: 83.3333333333%; }

  .col-xl-offset-9 {
    margin-left: 75%; }

  .col-xl-offset-8 {
    margin-left: 66.6666666667%; }

  .col-xl-offset-7 {
    margin-left: 58.3333333333%; }

  .col-xl-offset-6 {
    margin-left: 50%; }

  .col-xl-offset-5 {
    margin-left: 41.6666666667%; }

  .col-xl-offset-4 {
    margin-left: 33.3333333333%; }

  .col-xl-offset-3 {
    margin-left: 25%; }

  .col-xl-offset-2 {
    margin-left: 16.6666666667%; }

  .col-xl-offset-1 {
    margin-left: 8.3333333333%; } }
body {
  background: #444; }

.main-container {
  grid-template-columns: 1fr 9fr;
  margin: 0;
  padding: 0; }

.navbar {
  grid-gap: 50px;
  height: 100vh;
  width: 80px;
  background: #181818;
  text-align: center; }

.logo {
  position: relative;
  text-decoration: none;
  height: 50%;
  background: #070707; }
  .logo h1 {
    text-shadow: 1px 1px #f44168;
    color: skyblue;
    color: #08fdd8 !important;
    font-size: 32px;
    font-family: 'Overpass', sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 25%; }

.nav {
  grid-template-rows: repeat(5, 1fr); }
  .nav i {
    font-size: 1.4em; }
  .nav .home {
    display: none; }
  .nav .about {
    display: none; }
  .nav .skill {
    display: none; }
  .nav .work {
    display: none; }
  .nav .contact {
    display: none; }

.nav__link:nth-child(1):hover .home {
  display: block;
  text-transform: uppercase; }
.nav__link:nth-child(1):hover .home-icon {
  display: none; }

.nav__link:nth-child(2):hover .about {
  display: block;
  text-transform: uppercase; }
.nav__link:nth-child(2):hover .about-icon {
  display: none; }

.nav__link:nth-child(3):hover .skill {
  display: block;
  text-transform: uppercase; }
.nav__link:nth-child(3):hover .skill-icon {
  display: none; }

.nav__link:nth-child(4):hover .work {
  display: block;
  text-transform: uppercase; }
.nav__link:nth-child(4):hover .work-icon {
  display: none; }

.nav__link:nth-child(5):hover .contact {
  display: block;
  text-transform: uppercase; }
.nav__link:nth-child(5):hover .contact-icon {
  display: none; }

.nav__link {
  color: #4d4d4e; }
  .nav__link:hover {
    color: #08fdd8; }

.social {
  grid-template-rows: repeat(4, 1fr); }

.icon__link i {
  color: #4d4d4e;
  font-size: 1.5em; }
  .icon__link i:hover {
    color: #08fdd8; }

.main-page {
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100vh; }

.main {
  position: relative;
  padding: 30px 0;
  grid-template-rows: repeat(3, 1fr); }
  .main code {
    display: block;
    color: #9a9a9c;
    font-family: 'La Belle Aurore', cursive;
    font-size: 1.5em; }

.main__details {
  position: absolute;
  top: 25%; }
  .main__details h2 {
    color: #fff;
    font-size: 3em; }
    .main__details h2 span {
      text-shadow: 1px 1px #f44168;
      color: skyblue;
      color: #08fdd8 !important;
      font-size: 48px;
      font-family: 'Overpass', sans-serif;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 25%;
      display: contents; }
  .main__details .btn {
    background: transparent;
    border: 2px solid #08fdd8;
    border-radius: 6px;
    color: #08fdd8;
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 20px;
    outline: none; }
    .main__details .btn:hover {
      background: #08fdd8;
      color: #252627; }

.about-me {
  color: #fff;
  padding: 30px 0;
  font-size: 1.5em; }

.main__code {
  position: absolute;
  top: 90%; }

.main-logo {
  position: relative; }
  .main-logo img {
    position: absolute;
    top: 10%;
    opacity: 0.7; }

.skills__icon {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin: 30px 0; }

.user-skill {
  height: 150px;
  background: #fff;
  width: 200px;
  position: relative;
  opacity: 0.4; }
  .user-skill img {
    width: 100%; }
  .user-skill i {
    font-size: 6em;
    color: #4d4d4e;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .user-skill:hover {
    opacity: 1;
    box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15); }

.project-container {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 22px; }

.project-img img {
  width: 100%;
  height: 100%; }
.project-img:hover .project__link {
  display: block; }

.project__link {
  position: relative;
  display: none; }
  .project__link .project-icon {
    font-size: 2em;
    background: #222;
    width: 100%;
    position: absolute;
    text-align: center;
    color: #fff; }

@media (max-width: 1180px) {
  .main-container {
    display: block; }

  .navbar {
    height: 50px;
    width: 100%; }

  .logo {
    position: absolute;
    text-decoration: none;
    top: 2%;
    left: 0;
    background: #070707; }

  .logo h1 {
    top: 3%; }

  .nav {
    position: absolute;
    top: 2%;
    display: flex;
    left: 50%;
    right: 50%; }

  .nav__link {
    margin: 0 20px; }

  .social {
    display: none; }

  .main {
    position: initial;
    padding: 30px 10px; }

  .main-logo {
    position: fixed;
    z-index: -1;
    top: 8%; } }

/*# sourceMappingURL=style.css.map */
