<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Portfolio</title>

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=La+Belle+Aurore" rel="stylesheet">
        <!-- Awesome Fonts -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="assets/stylesheet/style.css">
    </head>
    <body>

        <!-- Container -->
        <section class="main-container">
            <!-- Navbar -->
            <div class="navbar">
                <a href="" class="logo">
                    <h1 class="logo__heading">S</h1>
                </a>
                <!-- <div class="side-navbar">
                    <input class="sidebar-input" type="checkbox" id="toggle">
                    <label class="input-label" for="toggle">&#9776;</label>
                    <nav class="side-nav">
                    <ul class="side-nav__list">
                        <li class="side-nav"><a href="#" class="side-nav__link">Home</a></li>
                        <li class="side-nav"><a href="#" class="side-nav__link">About</a></li>
                        <li class="side-nav"><a href="#" class="side-nav__link">Services</a></li>
                        <li class="side-nav"><a href="#" class="side-nav__link">Contact</a></li>
                    </ul>
                    </nav>
                </div> -->
                <!-- Nav -->
                <nav class="nav">
                    <a class="nav__link" href="index.html">
                        <i class="home-icon fas fa-home"></i><span class="home">Home</span>
                    </a>
                    <a class="nav__link" href="about.html">
                        <i class="about-icon fas fa-user"></i><span class="about">About</span>
                    </a>
                    <a class="nav__link" href="skill.html">
                        <i class="skill-icon fas fa-gavel"></i><span class="skill">Skills</span>
                    </a>
                    <a class="nav__link" href="project.html">
                        <i class="work-icon fas fa-eye"></i><span class="work">My Work</span>
                    </a>
                    <a class="nav__link" href="mailto:sachinkumartiwari363@gmail.com">
                        <i class="contact-icon fas fa-envelope"></i><span class="contact">Contact</span>
                    </a>
                </nav>

                <!-- Social -->
                <ul class="social">
                    <li class="social__list">
                        <a href="https://twitter.com/_im_sk" class="icon__link" target="_blank"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="social__list">
                        <a href="https://www.linkedin.com/in/sachin-kumar-tiwari-727aa2159/" class="icon__link" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                    <li class="social__list">
                        <a href="https://github.com/sachin-me" class="icon__link" target="_blank"><i class="fab fa-github"></i></a>
                    </li>
                    <li class="social__list">
                        <a href="https://medium.com/@sachinkumartiwari363" class="icon__link" target="_blank"><i class="fab fa-medium-m"></i></a>
                    </li>
                </ul>
            </div>

            <!-- Main-Page -->
            <div class="main-page">
                <div class="main">
                    <div>
                        <code>&lt;body&gt;</code>
                    </div>
                    <div class="main__details">
                        <code>&lt;h1&gt;</code>
                        <h2>Hi,<br>I'm <span>S</span>achin, <br>a aspiring web developer.</h2>
                        <code>&lt;/h1&gt;</code>
                        <button class="btn">Contact me</button>
                    </div>
                    <div class="main__code">
                        <code>&nbsp;&nbsp;&nbsp;&lt;/body&gt;</code>
                        <code>&lt;/html&gt;</code>
                    </div>
                
                </div>
                <div class="main-logo">
                    <img src="assets/media/name-logo.png" alt="">
                </div>
            </div>
        </section>
    </body>
</html>